# ====== Java / Spring Boot ======
target/
*.class
*.jar
*.war
*.ear

# IDE
.project
.classpath
.settings/
.idea/
.metadata/

# ====== Node / React ======
node_modules/
build/
dist/
npm-debug.log
yarn-error.log

# ====== OS Files ======
.DS_Store
Thumbs.db